<header class="d-flex justify-content-between mt-5">
    <h4>User(s)</h4>
    <button class="btn btn-primary" routerLink="/dashboard/users/add">+ Add</button>
</header>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <!-- <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody> -->
    </table>
</div>