<h4>Applications</h4>
<hr>
@if(applications[0]){
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Application No.</th>
                <th scope="col">Applicant Name</th>
                <th scope="col">Establishments Name</th>
                <th scope="col">Status</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            @for(a of applications; track a; let i=$index){
                <tr>
                    <td>{{ i+1 }}</td>
                    <td>{{ a.application_no.replaceAll('-','/') }}</td>
                    <td>{{ a.full_name_applicant }}</td>
                    <td>{{ a.email_applicant }}</td>
                    <td>{{ a.application_status.toUpperCase() }}</td>
                    <td><a [routerLink]="['/dashboard/shops-establishment/details', a.id]">View</a></td>
                </tr>
            }
        </tbody>
    </table>
}
@else{
    <h6>No Results Found !!</h6>
}
