<header class="mt-5">
    <h4>Add User</h4>
</header>
<hr>
<form #reg="ngForm" (ngSubmit)="onRegistration(reg)">
    <div class="row">
        <div class="col-md-4 mt-3">
            <input type="text" class="form-control shadow-none" placeholder="First Name" name="first_name" ngModel #first_name="ngModel" required>
            @if(first_name.touched && first_name.invalid){
                <small class="text-danger">Please enter first name</small>
            }
        </div>
        <div class="col-md-4 mt-3">
            <input type="text" class="form-control shadow-none" placeholder="Last Name" name="last_name" ngModel #last_name="ngModel" required>
            @if(last_name.touched && last_name.invalid){
                <small class="text-danger">Please enter last name</small>
            }
        </div>
        <div class="col-md-4 mt-3">
            <input type="text" class="form-control shadow-none" placeholder="Contact" name="contact" ngModel #contact="ngModel" required>
            @if(contact.touched && contact.invalid){
                <small class="text-danger">Please enter contact number</small>
            }
        </div>
        <div class="col-md-4 mt-3">
            <input type="text" class="form-control shadow-none" placeholder="Email" name="email" ngModel #email="ngModel" required>
            @if(email.touched && email.invalid){
                <small class="text-danger">Please enter email</small>
            }
        </div>
        <div class="col-md-4 mt-3">
            <select class="form-select shadow-none" name="gender" ngModel #gender="ngModel" required>
                <option value="">---Select Gender---</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
            </select>
            @if(gender.touched && gender.invalid){
                <small class="text-danger">Please select gender</small>
            }
        </div>
        <div class="col-md-4 mt-3">
            <input type="text" class="form-control shadow-none" placeholder="Username" name="username" ngModel #username="ngModel" required>
            @if(username.touched && username.invalid){
                <small class="text-danger">Please enter username</small>
            }
        </div>
        <div class="col-md-4 mt-3">
            <select class="form-select shadow-none" name="role" ngModel #role="ngModel" required>
                <option value="">---Select Role---</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
            </select>
            @if(gender.touched && gender.invalid){
                <small class="text-danger">Please select gender</small>
            }
        </div>
        <div class="col-md-4 mt-3">
            <input type="password" class="form-control shadow-none" placeholder="Password" name="password" ngModel #password="ngModel" required>
            @if(password.touched && password.invalid){
                <small class="text-danger">Please enter password</small>
            }
        </div>
        <div class="col-md-4 mt-3">
            <input type="password" class="form-control shadow-none" placeholder="Confirm Password" name="confirm_password" ngModel #confirm_password="ngModel" required>
            @if(confirm_password.touched && confirm_password.invalid){
                <small class="text-danger">Please confirm password</small>
            }
        </div>
    </div>
    <div class="mt-4 mb-3 text-end">
        <button class="btn btn-primary" type="submit">
            @if(loader){
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    &nbsp;<span role="status">Loading...</span>
            }
            @else{
                Submit
            }
        </button>
    </div>
</form>