input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched{
    border: 1px solid red;
}
.form-label, label{
    font-weight: bold;
}
.btn-primary{
    background-color: #179AFF;
    border-color: #179AFF;
}