<header class="text-center mt-3 mb-5">
    <img src="assets/images/seal.png" height="120">
    <h4 class="mt-3">Application for Certificate of Establishment</h4>
    <h5>Under The Sikkim Shops & Commercial Establishment Act 1983</h5>
    <h5>Labour Department, Government of Sikkim</h5>
</header>
<section class="form">
    <form #details="ngForm" (ngSubmit)="submitForm(details)">
        <div class="applying">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Applying To</h5>
                <span><strong>Note:</strong> Fields marked with (<span class="text-danger">*</span>) are mandatory</span>
            </div>
            <hr>
            <div class="row g-3">
                <div class="col-12 col-md-4">
                    <label class="form-label">District<span class="text-danger">*</span></label>
                    <select class="form-select shadow-none" name="district" (change)="onDistrictChange($event)" ngModel #district="ngModel" required>
                        <option value="">---Select District---</option>
                        @for(d of districts; track d){
                            <option [value]="d.id">{{ d.district_name }}</option>
                        }
                    </select>
                </div>
                <div class="col-12 col-md-4">
                    <label class="form-label">Registration Type<span class="text-danger">*</span></label>
                    <select class="form-select shadow-none" name="registration_type" ngModel #registration_type="ngModel" required>
                        <option value="">---Select Registration Type---</option>
                        <option value="New Registration">New Registration</option>
                        <option value="Already Registered">Already Registered</option>
                    </select>
                </div>
                <div class="col-12 col-md-4">
                    <label for="" class="form-label"> Upload Licence <span class="text-danger">*</span></label>
                    
                      
                        <input type="file" class="form-control shadow-none" (change)="tradeLicenceUpload($event)" name="trade_licence" ngModel #trade_licence="ngModel" required>
                   
                </div>
                <!-- <div class="col-12 col-md-4">
                    <label class="form-label">Reference No.<span class="text-danger">*</span></label>
                    <select class="form-select shadow-none" name="reference_no" ngModel #reference_no="ngModel" required>
                        <option value="">---Select Referrence No.---</option>
                        <option value="GOS-DL-GTK">GOS/DL/GTK</option>
                        <option value="GOS-DL-NMC">GOS/DL/NMC</option>
                        <option value="GOS-DL-GYZ">GOS/DL/GYZ</option>
                        <option value="GOS-DL-SRG">GOS/DL/SRG</option>
                        <option value="GOS-DL-MGN">GOS/DL/MGN</option>
                        <option value="GOS-DL-PKY">GOS/DL/PKY</option>
                    </select>
                </div> -->
            </div>
        </div>
        <div class="details mt-3">
            <h5>Application Details</h5>
            <hr>
            <div class="row g-3">
                <div class="col-12 col-md-4">
                    <label class="form-label">First Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control shadow-none" name="first_name" ngModel #first_name="ngModel" required>
                </div>
                <div class="col-12 col-md-4">
                    <label class="form-label">Middle Name</label>
                    <input type="text" class="form-control shadow-none" name="middle_name" ngModel #middle_name="ngModel">
                </div>
                <div class="col-12 col-md-4">
                    <label class="form-label">Last Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control shadow-none" name="last_name" ngModel #last_name="ngModel">
                </div>
                <div class="col-12 col-md-4">
                    <label class="form-label">E-Mail<span class="text-danger">*</span></label>
                    <input type="text" class="form-control shadow-none" name="email" ngModel #email="ngModel" required>
                </div>
                <div class="col-12 col-md-4">
                    <label class="form-label">Name of Establishment<span class="text-danger">*</span></label>
                    <input type="text" class="form-control shadow-none" name="establishment_name" ngModel #establishment_name="ngModel" required>
                </div>
                <div class="col-12 col-md-4">
                    <label class="form-label">Applicant Photograph<span class="text-danger">*</span></label>
                    <input type="file" class="form-control shadow-none" (change)="photoUpload($event)" name="photo" ngModel #photo="ngModel" required>
                </div>
            </div>
            <div class="row g-3 mt-2">
                <div class="col-12 col-md-6">
                    <label class="form-label">Full postal address and location of the establishment<span class="text-danger">*</span></label>
                    <textarea class="form-control shadow-none" cols="2" rows="7" name="address" ngModel #address="ngModel" required></textarea>
                </div>
                <div class="col-12 col-md-6">
                    <label class="form-label">Situation of Office, storeroom, Godown, warehouse or workplace. If any attached to the establishment but situated in the premises different from those of the Establishment<span class="text-danger">*</span></label>
                    <textarea class="form-control shadow-none" cols="2" rows="5" name="situation" ngModel #situation="ngModel" required></textarea>
                </div>
            </div>
            <div class="row g-3 mt-2">
                <div class="col-12 col-md-6">
                    <label class="form-label">Category of Establishment<span class="text-danger">*</span></label>
                    <select class="form-select shadow-none" name="establishment_category" ngModel #establishment_category="ngModel" required>
                        <option value="">---Select Category of Establishment---</option>
                        @for(e of establishments; track e){
                            <option [value]="e.id">{{ e.category }}</option>
                        }
                    </select>
                </div>
                <div class="col-12 col-md-6">
                    <label class="form-label">Nature of Business<span class="text-danger">*</span></label>
                    <input type="text" class="form-control shadow-none" name="nature_of_business" ngModel #nature_of_business="ngModel" required>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <label>Particulars of the person having interest in the Establishment as Employer (applicable only where a nomination is made under Section 76)</label>
                    <hr>
                    @if(employer_parentage_details[0]){
                        <ul class="list-group mb-3">
                            @for(epd of employer_parentage_details; track epd){
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>{{epd.parentage_name}}</span>
                                    <span>{{epd.designation}}</span>
                                    <span>{{epd.permanent_address}}</span>
                                    <span>{{epd.nature_interest}}</span>
                                    <span class="text-danger" (click)="employerParentageDetails('delete', { employer_parentage_name: epd.parentage_name })" style="cursor: pointer">X</span>
                                </li>
                            }
                        </ul>
                    }
                    <div class="row g-3 mt-2">
                        <div class="col-12 col-md-2">
                            <input type="text" class="form-control shadow-none" placeholder="Name & Parentage" name="employer_parentage_name"  #employer_parentage_name>
                        </div>
                        <div class="col-12 col-md-2">
                            <input type="text" class="form-control shadow-none" placeholder="Designation" name="employer_parentage_desg" #employer_parentage_desg>
                        </div>
                        <div class="col-12 col-md-4">
                            <input type="text" class="form-control shadow-none" placeholder="Permanent Address" name="employer_parentage_addr" #employer_parentage_addr>
                        </div>
                        <div class="col-12 col-md-3">
                            <input type="text" class="form-control shadow-none" placeholder="Nature of interest: (Whether Partnership Member, Director Shareholders)" name="employer_parentage_interest" #employer_parentage_interest>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-primary" type="button" (click)="employerParentageDetails('add', { employer_parentage_name: employer_parentage_name.value, employer_parentage_desg: employer_parentage_desg.value, employer_parentage_addr: employer_parentage_addr.value, employer_parentage_interest: employer_parentage_interest.value })">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <label>Name, Designation and Permanent Address of the Employer</label>
                    <hr>
                    @if(employer_details[0]){
                        <ul class="list-group mb-3">
                            @for(ed of employer_details; track ed){
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>{{ed.name}}</span>
                                    <span>{{ed.designation}}</span>
                                    <span>{{ed.permanent_address}}</span>
                                    <span class="text-danger" (click)="employerDetails('delete', { employer_name: ed.name })" style="cursor: pointer">X</span>
                                </li>
                            }
                            
                        </ul>
                    }
                    <div class="row g-3 mt-2">
                        <div class="col-12 col-md-3">
                            <input type="text" class="form-control shadow-none" placeholder="Full Name of Employer" name="employer_name" #employer_name>
                        </div>
                        <div class="col-12 col-md-3">
                            <input type="text" class="form-control shadow-none" placeholder="Designation of Employer" name="employer_desg" #employer_desg>
                        </div>
                        <div class="col-12 col-md-5">
                            <input type="text" class="form-control shadow-none" placeholder="Permanent Address" name="employer_addr" #employer_addr>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-primary" type="button" (click)="employerDetails('add', { employer_name: employer_name.value, employer_desg: employer_desg.value, employer_addr: employer_addr.value })">+</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mt-4">
                <div class="col-12">
                    <label>Particulars of the members of the Employer's family employed in the Establishments as defined in Section 2(17)</label>
                    <hr>
                    @if(employer_family_member_details[0]){
                        <ul class="list-group mb-3">
                            @for(efmd of employer_family_member_details; track efmd){
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>{{efmd.name}}</span>
                                    <span>{{efmd.age}}</span>
                                    <span>{{efmd.gender}}</span>
                                    <span>{{efmd.relationship}}</span>
                                    <span class="text-danger" (click)="employerFamilyMemberDetails('delete', { employer_family_name: efmd.name })" style="cursor: pointer">X</span>
                                </li>
                            }
                        </ul>
                    }
                    <div class="row g-3 mt-2">
                        <div class="col-12 col-md-3">
                            <input type="text" class="form-control shadow-none" placeholder="Full Name" name="employer_family_name" #employer_family_name>
                        </div>
                        <div class="col-12 col-md-2">
                            <input type="text" class="form-control shadow-none" placeholder="Age" name="employer_family_age" #employer_family_age>
                        </div>
                        <div class="col-12 col-md-3">
                            <select class="form-control shadow-none" name="employer_family_gender" [ngModel]="''" #employer_family_gender>
                                <option value="">---Select Gender---</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-3">
                            <input type="text" class="form-control shadow-none" placeholder="Relationship With Employer" name="employer_family_rel" #employer_family_rel>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-primary" type="button" (click)="employerFamilyMemberDetails('add', { employer_family_name: employer_family_name.value, employer_family_age: employer_family_age.value, employer_family_gender: employer_family_gender.value, employer_family_rel: employer_family_rel.value})">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <label>Name of the other person occupying the position of the Management or Employees engaged confidential capacity, if any</label>
                    <hr>
                    @if(management_level_employee_details[0]){
                        <ul class="list-group mb-3">
                            @for(mled of management_level_employee_details; track mled){
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>{{mled.name}}</span>
                                    <span>{{mled.age}}</span>
                                    <span>{{mled.gender}}</span>
                                    <span>{{mled.relationship}}</span>
                                    <span class="text-danger" (click)="managementEmployeeDetails('delete', { employer_management_name: mled.name })" style="cursor: pointer">X</span>
                                </li>
                            }
                        </ul>
                    }
                    <div class="row g-3 mt-2">
                        <div class="col-12 col-md-3">
                            <input type="text" class="form-control shadow-none" placeholder="Full Name" name="employer_management_name" #employer_management_name>
                        </div>
                        <div class="col-12 col-md-2">
                            <input type="text" class="form-control shadow-none" placeholder="Age" name="employer_management_age"  #employer_management_age>
                        </div>
                        <div class="col-12 col-md-3">
                            <select class="form-control shadow-none" name="employer_management_gender" [ngModel]="''" #employer_management_gender>
                                <option value="">---Select Gender---</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-3">
                            <input type="text" class="form-control shadow-none" placeholder="Relationship With Employer" name="employer_management_rel" #employer_management_rel>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-primary" type="button" (click)="managementEmployeeDetails('add', { employer_management_name: employer_management_name.value, employer_management_age: employer_management_age.value, employer_management_gender: employer_management_gender.value, employer_management_rel: employer_management_rel.value})">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-4">
                    <label class="form-label">Total Number of Male Employees (Age 18 and above)<span class="text-danger">*</span></label>
                    <input type="text" class="form-control shadow-none" placeholder="" name="total_emplyee_male_18" ngModel #total_emplyee_male_18="ngModel" required>
                </div>
                <div class="col-4">
                    <label class="form-label">Total Number of Female Employees (Age 18 and above)<span class="text-danger">*</span></label>
                    <input type="text" class="form-control shadow-none" placeholder="" name="total_emplyee_female_18" ngModel #total_emplyee_female_18="ngModel" required>
                </div>
                <div class="col-4">
                    <label class="form-label">Total Number of Other Gender Employees (Age 18 and above)<span class="text-danger">*</span></label>
                    <input type="text" class="form-control shadow-none" placeholder="" name="total_emplyee_other_18" ngModel #total_emplyee_other_18="ngModel" required>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-4">
                    <label class="form-label">Total Number of Male Employees (Age below 18 years)<span class="text-danger">*</span></label>
                    <input type="text" class="form-control shadow-none" placeholder="" name="total_emplyee_male_14" ngModel #total_emplyee_male_14="ngModel" required>
                </div>
                <div class="col-4">
                    <label class="form-label">Total Number of Female Employees (Age below 18 years)<span class="text-danger">*</span></label>
                    <input type="text" class="form-control shadow-none" placeholder="" name="total_emplyee_female_14" ngModel #total_emplyee_female_14="ngModel" required>
                </div>
                <div class="col-4">
                    <label class="form-label">Total Number of Other Gender Employees (Age below 18 years)<span class="text-danger">*</span></label>
                    <input type="text" class="form-control shadow-none" placeholder="" name="total_emplyee_other_14" ngModel #total_emplyee_other_14="ngModel" required>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <label class="form-label">Name of the day of the week on which weekly holidays will be observed; as per relevant Notification (in case of Shop and Commercial Establishments only)</label>
                    <input type="text" class="form-control shadow-none" name="weekly_holidays" ngModel #weekly_holidays="ngModel">
                </div>
            </div>
        </div>
        <div class="declaration mt-3">
            <h5>Declaration</h5>
            <hr>
            <p>I hereby solemnly affirm and declare that to the best of my knowledge and belief.</p>
            <p>I am a citizen of India.</p>
            <p>I have not concealed or suppressed any information, the disclosure of which would make me disentitled for this Certificate.</p>
            <p>I shall be held responsible for any misrepresentation or false information given by me while applying for this Certificate.</p>
            <input type="checkbox" (click)="getCheck($event)">&nbsp;&nbsp;&nbsp;I Agree
        </div>
        <div class="additional mt-3">
            <h5>Additional Details</h5>
            <hr>
            <div class="row">
                <div class="col-4">
                    <label for="office" class="form-label">Applied to Office<span class="text-danger">*</span></label>
                    <select class="form-select" name="office" ngModel #office="ngModel" required>
                        <option value="">---Select Office---</option>
                        @for(o of offices; track o){
                            <option [value]="o.id">{{ o.office }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="controls mt-3 mb-5 text-end">
            <button class="btn btn-primary" type="submit">
                @if(loader){
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    &nbsp;<span role="status">Loading...</span>
                }
                @else{
                    Submit
                }
            </button>
        </div>
    </form>
</section>