<section class="vh-100 d-flex justify-content-center align-items-center" style="background-color: #fbfdfe;">
    <div class="card w-50 p-3">
        <div class="card-body">
            <header class="mb-4 d-flex align-items-center">
                <img src="assets/images/sikkim.png" height="100">
                <div class="tags ms-4">
                    <h4>Deparment of Labour</h4>
                    <h4>Government of Sikkim</h4>
                </div>
            </header>
            <label>New User Registration</label>
            <hr style="width: 20%; border: 2px solid black;">
            <div class="row">
                <div class="col-md-6 mt-3">
                    <input type="text" class="form-control shadow-none" placeholder="First Name">
                </div>
                <div class="col-md-6 mt-3">
                    <input type="text" class="form-control shadow-none" placeholder="Last Name">
                </div>
                <div class="col-md-6 mt-3">
                    <input type="text" class="form-control shadow-none" placeholder="Contact">
                </div>
                <div class="col-md-6 mt-3">
                    <input type="text" class="form-control shadow-none" placeholder="Email">
                </div>
                <div class="col-md-6 mt-3">
                    <select class="form-select">
                        <option value="">---Select Gender---</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="col-md-6 mt-3">
                    <input type="text" class="form-control shadow-none" placeholder="Username">
                </div>
                <div class="col-md-6 mt-3">
                    <input type="text" class="form-control shadow-none" placeholder="Password">
                </div>
                <div class="col-md-6 mt-3">
                    <input type="text" class="form-control shadow-none" placeholder="Confirm Password">
                </div>
            </div>
            <div class="mt-4 mb-3 text-end">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</section>